In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('apple.csv', header=0)

In [4]:
print('df.columns :\n', list(df.columns))
MAX_PRICE = df.High.max()
MAX_VOL = df.Volume.max()
print('MAX_PRICE : ', MAX_PRICE)
print('MAX_VOL : ', MAX_VOL)

df.Volume = df.Volume / MAX_VOL
df.Open = df.Open / MAX_PRICE
df.Close = df.Close / MAX_PRICE
df.High = df.High / MAX_PRICE
df.Low = df.Low / MAX_PRICE

df.columns :
 ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
MAX_PRICE :  177.2
MAX_VOL :  470249500.0

In [7]:
dff = df[:20]
dff

          Date      Open      High       Low     Close  Adj Close    Volume
0   2010-01-04  0.172065  0.172912  0.171219  0.172517      27.41  0.262483
1   2010-01-05  0.173025  0.173815  0.171896  0.172856      27.45  0.319992
2   2010-01-06  0.172856  0.173533  0.169921  0.170090      27.02  0.293546
3   2010-01-07  0.170711  0.170937  0.168510  0.169752      26.97  0.253659
4   2010-01-08  0.169526  0.170937  0.168567  0.170880      27.15  0.237965
5   2010-01-11  0.171558  0.171727  0.168059  0.169413      26.91  0.245736
6   2010-01-12  0.168623  0.169131  0.166422  0.167438      26.60  0.316034
7   2010-01-13  0.167607  0.170034  0.164560  0.169808      26.98  0.322112
8   2010-01-14  0.169413  0.169695  0.168510  0.168849      26.82  0.230141
9   2010-01-15  0.170034  0.170598  0.165971  0.166027      26.37  0.315826
10  2010-01-19  0.167946  0.173476  0.167099  0.173363      27.54  0.388096
11  2010-01-20  0.173251  0.173758  0.168905  0.170711      27.11  0.325440
12  2010-01-21  0.170993  0.171953  0.167043  0.167720      26.65  0.323315
13  2010-01-22  0.166704  0.167269  0.158973  0.159424      25.32  0.468776
14  2010-01-25  0.163262  0.165011  0.161400  0.163713      26.01  0.566561
15  2010-01-26  0.166027  0.172291  0.163318  0.166027      26.37  0.992617
16  2010-01-27  0.166761  0.169752  0.160835  0.167607      26.62  0.915774
17  2010-01-28  0.165237  0.165688  0.160214  0.160666      25.52  0.623872
18  2010-01-29  0.162133  0.163036  0.153386  0.154853      24.60  0.662389
19  2010-02-01  0.155079  0.158014  0.154233  0.156998      24.94  0.398659

In [8]:
shift_days = 5
y_label = 'High'

In [9]:
# shift
dff[y_label].index = dff[y_label].index - shift_days
_dff = dff.drop(y_label, axis=1)

In [10]:
# shift 된 데이터 셋 
a = pd.concat([_dff, dff[y_label]], axis=1)
a

           Date      Open       Low     Close  Adj Close    Volume      High
-5          NaN       NaN       NaN       NaN        NaN       NaN  0.172912
-4          NaN       NaN       NaN       NaN        NaN       NaN  0.173815
-3          NaN       NaN       NaN       NaN        NaN       NaN  0.173533
-2          NaN       NaN       NaN       NaN        NaN       NaN  0.170937
-1          NaN       NaN       NaN       NaN        NaN       NaN  0.170937
 0   2010-01-04  0.172065  0.171219  0.172517      27.41  0.262483  0.171727
 1   2010-01-05  0.173025  0.171896  0.172856      27.45  0.319992  0.169131
 2   2010-01-06  0.172856  0.169921  0.170090      27.02  0.293546  0.170034
 3   2010-01-07  0.170711  0.168510  0.169752      26.97  0.253659  0.169695
 4   2010-01-08  0.169526  0.168567  0.170880      27.15  0.237965  0.170598
 5   2010-01-11  0.171558  0.168059  0.169413      26.91  0.245736  0.173476
 6   2010-01-12  0.168623  0.166422  0.167438      26.60  0.316034  0.173758
 7   2010-01-13  0.167607  0.164560  0.169808      26.98  0.322112  0.171953
 8   2010-01-14  0.169413  0.168510  0.168849      26.82  0.230141  0.167269
 9   2010-01-15  0.170034  0.165971  0.166027      26.37  0.315826  0.165011
 10  2010-01-19  0.167946  0.167099  0.173363      27.54  0.388096  0.172291
 11  2010-01-20  0.173251  0.168905  0.170711      27.11  0.325440  0.169752
 12  2010-01-21  0.170993  0.167043  0.167720      26.65  0.323315  0.165688
 13  2010-01-22  0.166704  0.158973  0.159424      25.32  0.468776  0.163036
 14  2010-01-25  0.163262  0.161400  0.163713      26.01  0.566561  0.158014
 15  2010-01-26  0.166027  0.163318  0.166027      26.37  0.992617       NaN
 16  2010-01-27  0.166761  0.160835  0.167607      26.62  0.915774       NaN
 17  2010-01-28  0.165237  0.160214  0.160666      25.52  0.623872       NaN
 18  2010-01-29  0.162133  0.153386  0.154853      24.60  0.662389       NaN
 19  2010-02-01  0.155079  0.154233  0.156998      24.94  0.398659       NaN

In [11]:
# 앞 뒤 shift 된 데이터를 제외한 학습 셋 
shift_df = a[shift_days:len(a)-shift_days]
shift_df

          Date      Open       Low     Close  Adj Close    Volume      High
0   2010-01-04  0.172065  0.171219  0.172517      27.41  0.262483  0.171727
1   2010-01-05  0.173025  0.171896  0.172856      27.45  0.319992  0.169131
2   2010-01-06  0.172856  0.169921  0.170090      27.02  0.293546  0.170034
3   2010-01-07  0.170711  0.168510  0.169752      26.97  0.253659  0.169695
4   2010-01-08  0.169526  0.168567  0.170880      27.15  0.237965  0.170598
5   2010-01-11  0.171558  0.168059  0.169413      26.91  0.245736  0.173476
6   2010-01-12  0.168623  0.166422  0.167438      26.60  0.316034  0.173758
7   2010-01-13  0.167607  0.164560  0.169808      26.98  0.322112  0.171953
8   2010-01-14  0.169413  0.168510  0.168849      26.82  0.230141  0.167269
9   2010-01-15  0.170034  0.165971  0.166027      26.37  0.315826  0.165011
10  2010-01-19  0.167946  0.167099  0.173363      27.54  0.388096  0.172291
11  2010-01-20  0.173251  0.168905  0.170711      27.11  0.325440  0.169752
12  2010-01-21  0.170993  0.167043  0.167720      26.65  0.323315  0.165688
13  2010-01-22  0.166704  0.158973  0.159424      25.32  0.468776  0.163036
14  2010-01-25  0.163262  0.161400  0.163713      26.01  0.566561  0.158014

In [13]:
# target 값이 없는 미래 예측에 활용될 데이터 
future_pred_data = a[-shift_days:]
future_pred_data

          Date      Open       Low     Close  Adj Close    Volume  High
15  2010-01-26  0.166027  0.163318  0.166027      26.37  0.992617   NaN
16  2010-01-27  0.166761  0.160835  0.167607      26.62  0.915774   NaN
17  2010-01-28  0.165237  0.160214  0.160666      25.52  0.623872   NaN
18  2010-01-29  0.162133  0.153386  0.154853      24.60  0.662389   NaN
19  2010-02-01  0.155079  0.154233  0.156998      24.94  0.398659   NaN