# 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

s = pd.Series(['Wes McKinney' ,'Creator of Pandas'], index=['Person' ,'Who'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [4]:
# 딕셔너리를 DataFrame에 전달, but 칼럼 순서가 바뀜
scientists = pd.DataFrame({
    'Name':['Rosaline Franklin', "William Gosset"],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]})

print(scientists)

   Age        Born        Died               Name    Occupation
0   37  1920-07-25  1958-04-16  Rosaline Franklin       Chemist
1   61  1876-06-13  1937-10-16     William Gosset  Statistician

In [5]:
# index 지정 및 columns 지정
scientists = pd.DataFrame(
    data={'Occupation':['Chemist', 'Statistician'],
          'Born':['1920-07-25', '1876-06-13'],
          'Died':['1958-04-16', '1937-10-16'],
          'Age':[37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Age','Died'])
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [6]:
# OrderedDict : 순서가 보장된 딕셔너리 전달
from collections import OrderedDict
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
]))
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [9]:
scientists = pd.DataFrame(
    data={'Occupation':['Chemist', 'Statistician'],
          'Born':['1920-07-25', '1876-06-13'],
          'Died':['1958-04-16', '1937-10-16'],
          'Age':[37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Age','Died'])

# DataFrame에서 시리즈를 선택할 때는 loc 속성에 인덱스 전달
first_row = scientists.loc['William Gosset']
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [10]:
# index
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [11]:
# values
print(first_row.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

In [15]:
# keys() ( ndex 속성과 같은 결과)
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [17]:
# index의 첫 번째 값 추출
print(first_row.index[0])

# keys()를 통해 인덱스의 첫 번째 값 추출
print(first_row.keys()[0])

Occupation
Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [18]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [19]:
# 시리즈를 구성하는 데이터가 정수라면 통계 메서드 사용 가능
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

# 시리즈와 불린 추출 사용하기

In [29]:
scientists = pd.read_csv('../data/scientists.csv')

ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [35]:
# boolean 추출
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [38]:
# 브로드캐스팅 : 모든 데이터에 대해 한 번에 연산하는 것
# 같은 길이의 벡터 연산
print(ages + ages)
print(ages * a2ges)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [39]:
# 벡터에 스칼라 연산
print(ages + 100)
print(ages * 2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [40]:
# 길이가 서로 다른 벡터 연산
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [41]:
# sort_index() 사용 
rev_ages = ages.sort_index(ascending=False) # 인덱스 역순으로 정렬
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [42]:
# 역순이더라도 인덱스 순서가 일치하는 값끼리 연산
print(ages * 2)
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [43]:
# Age 열에서 Age열의 평균보다 높은 행만 추출
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [45]:
# boool 벡터의 길이만큼만 연산
print(scientists.loc[[True, True, False, True]]) # index 2는 출력 X

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

# 데이터프레임과 브로드캐스팅

In [46]:
# 데이터프레임에 스칼라 연산
print(scientists * 2) # 정수형 데이터는 2를 곱하고, 문자열 데이터는 2배로 늘어남

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [49]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object
<class 'pandas.core.series.Series'>

In [54]:
# 날짜, 시간 데이터는 datatime 자료형으로 변환 
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [57]:
# 데이터 프레임에 열 추가
scientists['born_dt'], scientists['died_dt'] = born_datetime, died_datetime
print(scientists.head())
print(scientists.shape)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)

In [60]:
# 시간 계산
# die - born : 얼마나 살았는지 계산
scientists['age_days_dt'] = scientists['died_dt'] - scientists['born_dt']
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [61]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [62]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

C:\Anaconda3\lib\random.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [63]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [64]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [66]:
# 피클 형식으로 저장
names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

scientists.to_pickle('../output/scientists_df.pickle')

In [68]:
# 피클 데이터 불러오기
scientists_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV로 저장하기

In [69]:
# csv : 데이터를 쉼표로 구분
# tsv : 데이터를 탭으로 구분
names.to_csv('../output/scientists_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [70]:
# 시리즈와 데이터프레임을 엑셀 파일로 저장
names_df = names.to_frame()

import xlwt
names_df.to_excel('../output/scientists_names_series.xls')

import openpyxl
names_df.to_excel('../output/scientists_names_series.xlsx')