# 제곱 함수와 n 제곱 함수 만들기

In [1]:
def my_sq(x):
    return x ** 2

def my_exp(x, n):
    return x ** n

In [2]:
print(my_sq(4))
print(my_exp(2,4))

16
16

# 시리즈와 apply 메서드

In [3]:
import pandas as pd

df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [4]:
print(df['a']**2)

sq = df['a'].apply(my_sq) # 함수 적용
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64
0    100
1    400
2    900
Name: a, dtype: int64

In [5]:
ex = df['a'].apply(my_exp, n=2) # df['a']가 my_exp()의 첫번째 인자로, n=2가 두번째 인자로 전달됨
print(ex)

ex = df['a'].apply(my_exp, n=3)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64
0     1000
1     8000
2    27000
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드

In [6]:
df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
def print_me(x):
    print(x)

In [9]:
# 함수를 열 방향으로 적용할지, 행 방향으로 적용할지 정해야 함
# axis= 0 : 열 / axis=1 : 행
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [15]:
def avg_3(x,y,z):
    return (x+y+z)/3

print(df.apply(avg_3)) # 3개의 인자가 필요한데 df['a']로 1개의 인자만 인식해서 오류 발생

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [16]:
# 열 단위로 데이터를 처리 할 수 있도록 수정
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [ ]:
# 열 방향
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0] 

# 행 방향
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [18]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [19]:
import numpy as np

# 누락값의 개수 반환 함수
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [20]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [25]:
# 누락값의 비율 계산 함수
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

# 누락값이 아닌 비율 계산 함수
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [26]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [28]:
pcom_col = titanic.apply(prop_complete)
print(pcom_col)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡

In [29]:
# 행 방향으로 함수 적용
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())
print(pmis_row.head())
print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [31]:
# 누락값을 titanic 데이터프레임에 추가
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

# 누락값이 2개 이상인 데이터 추출
print(titanic.loc[titanic['num_missing'] > 1,:].sample(10))

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1
     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
420         0       3    male  NaN      0      0   7.8958        C   Third
531         0       3    male  NaN      0      0   7.2292        C   Third
5           0       3    male  NaN      0      0   8.4583        Q   Third
428         0       3    male  NaN      0      0   7.7500        Q   Third
260         0       3    male  NaN      0      0   7.7500        Q   Third
36          1       3    male  NaN      0      0   7.2292        C   Third
410         0       3    male  NaN      0      0   7.8958        S   Third
727         1       3  female  NaN      0      0   7.7375        Q   Third
109         1       3  female  NaN      1      0  24.1500        Q   Third
466         0       2    male  NaN      0      0   0.0000        S  Second

       who  adult_male deck  embark_town alive  alone  num_missing
420    man        True  NaN    Cherbourg    no   True            2
531    man        True  NaN    Cherbourg    no   True            2
5      man        True  NaN   Queenstown    no   True            2
428    man        True  NaN   Queenstown    no   True            2
260    man        True  NaN   Queenstown    no   True            2
36     man        True  NaN    Cherbourg   yes   True            2
410    man        True  NaN  Southampton    no   True            2
727  woman       False  NaN   Queenstown   yes   True            2
109  woman       False  NaN   Queenstown   yes  False            2
466    man        True  NaN  Southampton    no   True            2