# groupby 메서드로 평균값 구하기

In [1]:
import pandas as pd 

df = pd.read_csv('../data/gapminder.tsv', sep='\t')
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [2]:
# year를 기준으로 lifeExp의 평균 구하기
avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 분할-반영-결합 과정 살펴보기

In [4]:
# 분할 : year열의 데이터를 중복 없이 추출

years = df['year'].unique()
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [10]:
# 반영 : 연도별로 데이터를 추출
y1952 = df.loc[df['year']==1952, :]
y1957 = df.loc[df['year']==1957, :]
y1962 = df.loc[df['year']==1962, :]
print(y1952.head())

# 연도별 lifeExp열의 평균값
y1952_mean = y1952['lifeExp'].mean()
y1957_mean = y1957['lifeExp'].mean()
y1962_mean = y1962['lifeExp'].mean()
print(y1952_mean)

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053
49.05761971830987

In [11]:
# 결합 : 연도별로 계산한 lifeExp의 평균값을 합침
df2 = pd.DataFrame({'year':[1952,1957,1962], 'mean':[y1952_mean,y1957_mean,y1962_mean]})
print(df2)

        mean  year
0  49.057620  1952
1  51.507401  1957
2  53.609249  1962

# 평균값을 구하는 사용자 함수와 groupby 메서드

In [12]:
# 열의 평균값을 구하는 함수
def my_mean(values):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    return sum / n

In [13]:
# agg(): 사용자 함수와 groupby()메서드를 조합할 떄 사용
agg_my_mean = df.groupby('year')['lifeExp'].agg(my_mean)
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 두 개의 인잣값을 받아 처리하는 사용자 함수와 groupby 메서드

In [14]:
def my_mean_diff(values, diff_value):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    mean = sum / n
    return mean - diff_value

In [16]:
# 전체 평균 수명
global_mean = df['lifeExp'].mean()
print(global_mean)

59.47443936619713

In [17]:
# 연도별 평균 수명에서 전체 평균 수명을 뺸 값 구하기
agg_mean_diff = df.groupby('year')['lifeExp'].agg(my_mean_diff, diff_value=global_mean)
print(agg_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

# 집계 메서드를 리스트, 딕셔너리에 담아 전달하기

In [18]:
# 연도별로 그룹화한 lifeExp열의 0이 아닌 값의 개수, 평균, 표준편차를 한 번에 계산하여 출력
# 리스트로 전달
import numpy as np
gdf = df.groupby('year')['lifeExp'].agg([np.count_nonzero, np.mean, np.std])
print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

In [20]:
# 딕셔너리로 전달: {'열 이름' :'집계 메서드'}
gdf_dict = df.groupby('year')['lifeExp'].agg({'lifeExp':'mean','pop':'median','gdpPercap':'median'})
print(gdf_dict)

        lifeExp      pop  gdpPercap
year
1952  49.057620  45.1355    45.1355
1957  51.507401  48.3605    48.3605
1962  53.609249  50.8810    50.8810
1967  55.678290  53.8250    53.8250
1972  57.647386  56.5300    56.5300
1977  59.570157  59.6720    59.6720
1982  61.533197  62.4415    62.4415
1987  63.212613  65.8340    65.8340
1992  64.160338  67.7030    67.7030
1997  65.014676  69.3940    69.3940
2002  65.694923  70.8255    70.8255
2007  67.007423  71.9355    71.9355

c:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

# 표준 점수 계산하기

In [21]:
# 표준 점수: 평균과 표준편차의 차이
# -> 데이터의 평균값이 0이 되고 표준편차는 1이되어 서로 다른 데이터를 비교하기 쉬움

def my_zscore(x):
    return (x - x.mean()) / x.std()

In [24]:
transform_z = df.groupby('year')['lifeExp'].transform(my_zscore)
print(transform_z.head()) # 데이터를 표준화 할 뿐 집계하지 않음

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64

# 누락값을 평균값으로 처리하기

In [25]:
import seaborn as sns
import numpy as np

np.random.seed(42)

In [26]:
tips_10 = sns.load_dataset('tips').sample(10)
tips_10.loc[np.random.permutation(tips_10.index)[:4], 'total_bill'] = np.NaN
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [27]:
count_sex = tips_10.groupby('sex').count()
print(count_sex)

        total_bill  tip  smoker  day  time  size
sex
Male             4    7       7    7     7     7
Female           2    3       3    3     3     3

In [28]:
# 성별을 기준으로 평균값을 구하여 빈 값을 채움
def fill_na_mean(x):
    avg = x.mean()
    return x.fillna(avg)

total_bill_group_mean = tips_10.groupby('sex')['total_bill'].transform(fill_na_mean)
tips_10['fill_total_bill'] = total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

# 데이터 필터링 사용하기 ─ filter 메서드

In [36]:
tips = sns.load_dataset('tips')
print(tips.shape)

(244, 7)

In [34]:
print(tips['size'].value_counts())

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [39]:
# 30번 이상 주문이 있는 테이블만 추출
tips_filtered = tips.groupby('size').filter(lambda x: x['size'].count() >= 30)
print(tips_filtered.shape)
print(tips_filtered['size'].value_counts())

(231, 7)
2    156
3     38
4     37
Name: size, dtype: int64

# 그룹 오브젝트 저장하여 살펴보기

In [40]:
tips_10 = sns.load_dataset('tips').sample(10, random_state=42)
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [41]:
grouped = tips_10.groupby('sex')
print(grouped)

<pandas.core.groupby.DataFrameGroupBy object at 0x000001BA8263F978>

In [42]:
print(grouped.groups)

{'Male': Int64Index([24, 6, 153, 211, 176, 192, 9], dtype='int64'), 'Female': Int64Index([198, 124, 101], dtype='int64')}

# 그룹 오브젝트의 평균 구하기

In [43]:
# 평균을 구할 수 없는 열도 파이썬이 자동으로 제외하여 계산할 수 있는 칼럼만 계산해줌
avgs = grouped.mean()
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

# 그룹 오브젝트에서 데이터 추출하고 반복하기

In [44]:
# get_group(): 그룹 오브젝트에서 특정 데이터만 추출
female = grouped.get_group('Female') # 성별이 여성인 데이터만
print(female)

     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [45]:
for sex_group in grouped:
    print(sex_group) # 튜플 형태로 추출 (str: dataframe)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

# 그룹 오브젝트 계산하고 살펴보기

In [49]:
bill_sex_time = tips_10.groupby(['sex','time'])
group_avg = bill_sex_time.mean()
print(group_avg)
print(type(group_avg))
print(group_avg.columns)
print(group_avg.index)

               total_bill       tip      size
sex    time
Male   Lunch    28.440000  2.560000  2.000000
       Dinner   18.616667  2.928333  2.666667
Female Lunch    12.740000  2.260000  2.000000
       Dinner   15.380000  3.000000  2.000000
<class 'pandas.core.frame.DataFrame'>
Index(['total_bill', 'tip', 'size'], dtype='object')
MultiIndex(levels=[['Male', 'Female'], ['Lunch', 'Dinner']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['sex', 'time'])

In [50]:
# 위와 같이 MultiIndex인 경우 reset_index()를 통해 인덱스를 새로 부여
group_method = tips_10.groupby(['sex','time']).mean().reset_index()
print(group_method)

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000